<form action='index.php' method='get'>
%%%HIDDEN%%%

<table>
	<tr><td width='200'>Username</td><td><strong>%%%USERNAME%%%</strong></td></tr>
	<tr><td>Password <span class='smalltext'>(blank to not change it)</span></td><td>%%%PASSWORD1%%%</td></tr>
	<tr><td>Password again</td><td>%%%PASSWORD2%%%</td></tr>
	<tr><td>Email</td><td>%%%EMAIL%%%</td></tr>
	<tr><td>Can Post Stories</td><td>%%%STORIES%%%</td></tr>
	<tr><td>Administrator</td><td>%%%ADMINISTRATOR%%%</td></tr>

	<tr><td colspan='2' align='right'>%%%SAVE%%%</td></tr>
</table>
